<?xml version="1.0"?>
<!--  
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>     
  <appSettings>  
    <add key="cstr.service" value="http://dbcnnstr.zarshop24.ir/service.asmx"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="OfficeConnectionString" connectionString="Data Source=5.61.31.163\sql2014163;Initial Catalog=Office;User ID=sa;Password=hgf%^$%35435gfdgd$#$g"
      providerName="System.Data.SqlClient" />
    <add name="payeganltdConnectionString" connectionString="Data Source=5.61.31.171\sql2014171;Initial Catalog=payeganltd;User ID=sa;Password=hgfh$#@$@$dhgj*%$#%$ghfghfghfgf34234"
      providerName="System.Data.SqlClient" />
    <add name="OfficeConnectionString1" connectionString="Data Source=5.61.31.163\sql2014163;Initial Catalog=Office;User ID=sa;Password=9605163m,omok^76576567"
      providerName="System.Data.SqlClient" />
    <add name="UserConnectionString" connectionString="Data Source=5.61.27.198\SQLSERVER2008R2;Initial Catalog=User;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="OfficeConnectionString2" connectionString="Data Source=5.61.31.171\sql2014171;Initial Catalog=Office;Persist Security Info=True;User ID=sa;Password=9607171ggh#$@fd64vhkj90"
      providerName="System.Data.SqlClient" />
    <add name="OfficeConnectionString3" connectionString="Data Source=5.61.31.171\sql2014171;Initial Catalog=Office;User ID=sa;Password=9710171#Mg5ps74!!!"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="20"></sessionState>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->  
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Stimulsoft.Report, Version=2013.1.1505.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>
        <add assembly="Stimulsoft.Base, Version=2013.1.1505.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
<system.net>
    <settings>
        <servicePointManager expect100Continue="false" />
    </settings>
</system.net>
</configuration>